<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.pro.mapper.CustomizeProductMapper">
    <!--customize mapping rule-->
    <resultMap id="CustomizeProductEntityMap" type="com.pro.pro.Entity.CustomizeProduct">
        <id column="customize_id" property="customize_id"></id>
        <result column="customize_name" property="customizeName"></result>
        <result column="parent_id" property="parentId"></result>
    </resultMap>
<!--   <insert id="insert" useGeneratedKeys="true" keyProperty="add_id">-->
<!--       INSERT INTO user_addr(-->
<!--                             USER_ID, RECEIVER_NAME, RECEIVER_PHONE, PROVINCE, CITY, AREA, ADDRESS,-->
<!--                             POST_CODE,IS_DEFAULT, CREATE_TIME, UPDATE_TIME, CREATE_USER, UPDATE_USER-->
<!--       ) VALUES (-->
<!--                 #{userId},#{receiverName},#{receiverPhone},#{province},#{city},#{area},#{address},-->
<!--                 #{postCode},#{isDefault},#{createTime},#{updateTime},#{createUser},#{updateUser}-->
<!--                       )-->
<!--   </insert>-->
<!--    <select id="countByUserId" resultType="java.lang.Integer">-->
<!--        SELECT COUNT(*) FROM user_addr WHERE user_id=#{userId}-->
<!--    </select>-->
    <select id="findProduct" resultMap="CustomizeProductEntityMap">
        SELECT * FROM customize_product
    </select>
    <select id="findByParentId" resultMap="CustomizeProductEntityMap">
        SELECT * FROM customize_product WHERE parent_id=#{parentId}
    </select>
<!--    <update id="updateNoneDefault" >-->
<!--        UPDATE user_addr-->
<!--        SET is_default=0-->
<!--        WHERE user_id=#{userId}-->
<!--    </update>-->
<!--    <update id="updateDefaultByUserId" >-->
<!--        UPDATE user_addr-->
<!--        SET is_default=1,update_user=#{updateUser},update_time=#{updateTime}-->
<!--        WHERE add_id=#{addId}-->
<!--    </update>-->
<!--    <delete id="deleteByAddId">-->
<!--        DELETE FROM user_addr WHERE add_id=#{add_id}-->
<!--    </delete>-->
<!--    <update id="updateByAddId" >-->
<!--        UPDATE user_addr-->
<!--        SET user_id=#{userId},receiver_name=#{receiverName},receiver_phone=#{receiverPhone},-->
<!--            province=#{province},city=#{city},area=#{area},address=#{address},-->
<!--            post_code=#{postCode},is_default=#{isDefault},update_user=#{updateUser},update_time=#{updateTime}-->
<!--        WHERE add_id=#{addId}-->
<!--    </update>-->
</mapper>